@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-[#000] text-white min-h-screen;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}
